<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Skills</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/app.css')}}" />
    <script src="{{ url_for('static', filename='scripts/app.js')}}" defer></script>
  </head>
  <body>
    <div id="backdrop"></div>
    <div class="modal card" id="add-modal">
      <div class="modal__content">
        <label for="title">스킬 이름</label>
        <input type="text" name="title" id="title" />
        <label for="image-url">사진</label>
        <input type="text" name="image-url" id="image-url" />
        <label for="rating">숙련도</label>
        <input
          type="number"
          step="1"
          max="5"
          min="1"
          name="rating"
          id="rating"
        />
      </div>
      <div class="modal__actions">
        <button class="btn btn--passive">취소</button>
        <button class="btn btn--success">추가</button>
      </div>
    </div>
    <div class="modal card" id="delete-modal">
      <h2 class="modal__title">skill 빼기</h2>
      <p class="modal__content">
        진짜 지울꺼여? 돌이킬 수 없는데?
      </p>
      <div class="modal__actions">
        <button class="btn btn--passive">No (Cancel)</button>
        <button class="btn btn--danger">Yes</button>
      </div>
    </div>

    <header>
      <h1>My Skills</h1>
      <button>Add skills</button>
    </header>

    <main>
      <section id="entry-text" class="card">
        <p>너의 스킬을 보여줘!!</p>
      </section>
      <ul id="movie-list"></ul>
    </main>
  </body>
</html>
